/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
body img{
  width:75px;
  height:75px;
  margin:20px 20px 0 0;
  border-radius: 100%;
}
body p{
  margin:10px 0;
}
.jumbotron p{
    margin:0 0 0 45px;
    font-size: 18px;
}
img.img-rounded.pull-left{
    width:100px;
    height:100px;
}
